/*Setup Général*/
body{
    background: #333333;
    color: white;

}

/* Header */

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
header {
  margin-bottom: 2px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 5px solid yellow;
}

/* Typo */

h2 {
    font-size: 2rem;
    text-align: Center;

}
ul {
    list-style-type: none;
    font-size: 35px;
    margin-left: 480px;
}
/* Main */
li>img {
    vertical-align: text-top;
    margin-bottom: 20px;
    width: 150px;
}
li>a {
    display: inline-block;
    color: white;
    width: 40%;
}

footer {
    margin-top: 2px;
    display: flex;
    flex-flow: nowrap;
    border-top: 5px Solid yellow;

}
footer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

