/*Setup Général*/
body{
    background: #333333;
    color: white;

}

/* Header */

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
header {
  margin-bottom: 2px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 5px solid yellow;
}

/* Typo */

h2 {
    font-size: 3rem;
    text-align: Center;
}
ul {
    list-style-type: none;
    font-size: 6rem;
}



